@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol, ul {
  padding: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------------------------------------------------------- */
@font-face {
  font-family: "SgtPeppersOutline";
  src: url("../fonts/SgtPeppersOutline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* ----------------------------------------------------------------- */
.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tow_back {
  position: absolute;
  width: 100%;
  height: 510px;
  background: rgba(25, 77, 68, 0.4);
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(110% 90% at 50% 10%);
          clip-path: ellipse(110% 90% at 50% 10%);
  z-index: -3;
}
@media (max-width: 767px) {
  .tow_back {
    -webkit-clip-path: ellipse(120% 80% at 50% 10%);
            clip-path: ellipse(120% 80% at 50% 10%);
    height: 810px;
  }
}
@media (max-width: 450px) {
  .tow_back {
    -webkit-clip-path: ellipse(150% 80% at 50% 10%);
            clip-path: ellipse(150% 80% at 50% 10%);
    height: 940px;
  }
}
@media (max-width: 360px) {
  .tow_back {
    height: 1010px;
  }
}

/* ----------------------------------------------------------------- */
/* header section */
.header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../img/header_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: ellipse(110% 90% at 50% 10%);
          clip-path: ellipse(110% 90% at 50% 10%);
}
@media (max-width: 767px) {
  .header {
    -webkit-clip-path: ellipse(120% 80% at 50% 10%);
            clip-path: ellipse(120% 80% at 50% 10%);
    height: 800px;
  }
}
@media (max-width: 450px) {
  .header {
    -webkit-clip-path: ellipse(150% 80% at 50% 10%);
            clip-path: ellipse(150% 80% at 50% 10%);
    height: 930px;
  }
}
@media (max-width: 360px) {
  .header {
    height: 1000px;
  }
}
.header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(25, 77, 68, 0.93);
}
.header .title_and_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 12px;
}
@media (max-width: 767px) {
  .header .title_and_menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 450px) {
  .header .title_and_menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .title_and_menu .title {
  padding: 10px;
}
.header .title_and_menu .title h1 {
  position: relative;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  color: #EAEAEA;
}
.header .title_and_menu .title h1 span {
  font-weight: bold;
}
.header .title_and_menu .title h1::after {
  content: "";
  position: absolute;
  left: -7px;
  top: -4px;
  width: 20px;
  height: 27px;
  border: 2px solid #EAEAEA;
  border-right: 0;
  border-radius: 100% 0 0 100%/80% 0 0 80%;
}
.header .title_and_menu .header__menu {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .header .title_and_menu .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.header .title_and_menu .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.header .title_and_menu .header__menu ul li a {
  text-transform: uppercase;
  padding: 10px;
  color: #EAEAEA;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_menu .header__menu ul li a:hover {
  color: #5BC8AF;
}
.header .title_and_menu .header__menu ul li:first-child {
  text-decoration: underline;
}
.header .title_and_menu .header__menu ul li:nth-of-type(2) a {
  color: silver;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_menu .header__menu ul li:nth-of-type(2) a:hover {
  color: #5BC8AF;
}
.header .title_and_menu .header__menu ul li:nth-of-type(3) a {
  color: silver;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_menu .header__menu ul li:nth-of-type(3) a:hover {
  color: #5BC8AF;
}
.header .title_and_menu .header__menu h2 {
  position: relative;
  margin: 0;
  color: #EAEAEA;
  text-transform: uppercase;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .header .title_and_menu .header__menu h2 {
    margin: 10px 0 0 0;
  }
  .header .title_and_menu .header__menu h2::after {
    display: none;
  }
}
.header .title_and_menu .header__menu h2::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 100%;
  top: 0;
  left: -20px;
  background-color: silver;
}
.header .title_and_menu .header__menu h2 span a {
  color: #5BC8AF;
}
.header .title_and_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .header .title_and_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .title_and_form > * {
  width: 50%;
}
@media (max-width: 767px) {
  .header .title_and_form > * {
    width: 100%;
  }
}
.header .title_and_form .desc_title {
  margin: 0 0 0 5%;
}
@media (min-width: 1920px) {
  .header .title_and_form .desc_title {
    text-align: center;
  }
}
@media (max-width: 920px) {
  .header .title_and_form .desc_title {
    margin: 0 0 0 2%;
  }
}
@media (max-width: 767px) {
  .header .title_and_form .desc_title {
    margin: 0;
  }
}
.header .title_and_form .desc_title h1 {
  margin: 0;
  font-size: 64px;
  text-transform: uppercase;
  width: 100%;
  padding: 25px 0 0 25px;
  color: #EAEAEA;
  font-family: "SgtPeppersOutline";
}
@media (max-width: 1130px) {
  .header .title_and_form .desc_title h1 {
    font-size: 54px;
  }
}
@media (max-width: 856px) {
  .header .title_and_form .desc_title h1 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .header .title_and_form .desc_title h1 {
    padding: 0;
  }
}
@media (max-width: 700px) {
  .header .title_and_form .desc_title h1 {
    font-size: 32px;
  }
}
.header .title_and_form .desc_title h1 span {
  display: block;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
}
.header .title_and_form .desc_title p {
  color: silver;
  padding: 0 0 10px 25px;
  margin: 0;
  width: 100%;
  line-height: 20px;
}
@media (max-width: 767px) {
  .header .title_and_form .desc_title p {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .header .title_and_form .contactUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs {
    display: block;
  }
}
.header .title_and_form .contactUs form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 140, 115, 0.8)), to(rgba(126, 156, 146, 0.3)));
  background: linear-gradient(rgba(60, 140, 115, 0.8), rgba(126, 156, 146, 0.3));
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 10px 45px 10px;
}
@media (max-width: 1200px) {
  .header .title_and_form .contactUs form {
    margin-left: 30%;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
@media (max-width: 767px) {
  .header .title_and_form .contactUs form {
    margin-left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: auto;
    margin-top: 50px;
  }
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form {
    margin: 50px 20px 0 20px;
  }
}
.header .title_and_form .contactUs form h2 {
  color: #EAEAEA;
  font-weight: bold;
  padding: 10px;
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .title_and_form .contactUs form table td {
  position: relative;
  font-size: 14px;
  padding: 5px;
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form table td {
    font-size: 16px;
  }
}
.header .title_and_form .contactUs form table td input {
  width: 100%;
  padding: 10px;
  background: inherit;
  border: 1px solid silver;
  border-radius: 3px;
  color: #EAEAEA;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_form .contactUs form table td input::-webkit-input-placeholder {
  text-align: center;
  color: silver;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_form .contactUs form table td input::-moz-placeholder {
  text-align: center;
  color: silver;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_form .contactUs form table td input:-ms-input-placeholder {
  text-align: center;
  color: silver;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_form .contactUs form table td input::-ms-input-placeholder {
  text-align: center;
  color: silver;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .title_and_form .contactUs form table td input::placeholder {
  text-align: center;
  color: silver;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1200px) {
  .header .title_and_form .contactUs form table td input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header .title_and_form .contactUs form table td input::-moz-placeholder {
    font-size: 12px;
  }
  .header .title_and_form .contactUs form table td input:-ms-input-placeholder {
    font-size: 12px;
  }
  .header .title_and_form .contactUs form table td input::-ms-input-placeholder {
    font-size: 12px;
  }
  .header .title_and_form .contactUs form table td input::placeholder {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form table td input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .header .title_and_form .contactUs form table td input::-moz-placeholder {
    font-size: 16px;
  }
  .header .title_and_form .contactUs form table td input:-ms-input-placeholder {
    font-size: 16px;
  }
  .header .title_and_form .contactUs form table td input::-ms-input-placeholder {
    font-size: 16px;
  }
  .header .title_and_form .contactUs form table td input::placeholder {
    font-size: 16px;
  }
}
.header .title_and_form .contactUs form table td input:hover::-webkit-input-placeholder {
  color: #EAEAEA;
}
.header .title_and_form .contactUs form table td input:hover::-moz-placeholder {
  color: #EAEAEA;
}
.header .title_and_form .contactUs form table td input:hover:-ms-input-placeholder {
  color: #EAEAEA;
}
.header .title_and_form .contactUs form table td input:hover::-ms-input-placeholder {
  color: #EAEAEA;
}
.header .title_and_form .contactUs form table td input:hover::placeholder {
  color: #EAEAEA;
}
.header .title_and_form .contactUs form table td input:focus {
  border: 1px solid #EAEAEA;
}
.header .title_and_form .contactUs form select {
  width: 100%;
  padding: 5px;
  background: inherit;
  color: silver;
  border: 1px solid silver;
  border-radius: 3px;
  font-size: 10px;
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form select {
    font-size: 16px;
  }
}
.header .title_and_form .contactUs form select option {
  color: #333;
}
.header .title_and_form .contactUs form button[name=button] {
  margin-top: 30px;
  width: auto;
  height: auto;
  padding: 15px 50px;
  background: #5BC8AF;
  font-weight: bolder;
  color: #EAEAEA;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 450px) {
  .header .title_and_form .contactUs form button[name=button] {
    padding: 10px 50px;
  }
}
.header .title_and_form .contactUs form button[name=button] i {
  margin-right: 7px;
  font-weight: normal;
}
.header .title_and_form .contactUs form button[name=button]:hover {
  -webkit-box-shadow: 0px 7px 17px -3px rgba(155, 155, 155, 0.4);
  box-shadow: 0px 7px 17px -3px rgba(155, 155, 155, 0.4);
}
.header .title_and_form .contactUs form button[name=button]:active {
  background: #297C6B;
  -webkit-box-shadow: 0px 7px 17px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 17px -3px rgba(0, 0, 0, 0.7);
}
/* ----------------------------------------------------------------- */
/* burger menu */
.header__burger {
  display: none;
}

@media (max-width: 450px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-image: url("../img/header_background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 10px 20px 10px;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    z-index: 1;
  }
  .header__menu::before {
    content: "";
    position: absolute;
    background-color: rgba(25, 77, 68, 0.95);
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
    z-index: 2;
  }

  .header__link {
    font-size: 24px;
  }
}
/* ----------------------------------------------------------------- */
/* main section */
.main {
  width: 100%;
  height: auto;
}
.main section {
  margin-top: 30px;
  width: 100%;
}
.main .section_one {
  padding-bottom: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eaeaea));
  background: linear-gradient(white, #eaeaea);
}
@media (max-width: 500px) {
  .main .section_one {
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#eaeaea), to(white));
    background: linear-gradient(white, #eaeaea, white);
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .main .section_one {
    margin-top: -50px;
  }
}
.main .section_one .container_one_section {
  width: 75%;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .main .section_one .container_one_section {
    width: 100%;
    padding: 20px;
  }
}
.main .section_one div.div_1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
@media (max-width: 920px) {
  .main .section_one div.div_1 ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .main .section_one div.div_1 ul {
    display: none;
  }
}
.main .section_one div.div_1 ul img {
  width: 20rem;
  border-radius: 5px;
  margin: 30px 0 5px 0;
}
@media (max-width: 920px) {
  .main .section_one div.div_1 ul img {
    width: 16rem;
  }
}
.main .section_one div.div_2 {
  padding: 20px 0 5px 0;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main .section_one div.div_2 {
    text-align: left;
  }
}
.main .section_one div.div_2 h2 {
  position: relative;
  font-family: "SgtPeppersOutline";
}
.main .section_one div.div_2 h2 span {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
}
.main .section_one div.div_2 h2::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  right: 0;
  top: 17px;
  background-color: silver;
}
@media (max-width: 890px) {
  .main .section_one div.div_2 h2::after {
    width: 65%;
  }
}
@media (max-width: 767px) {
  .main .section_one div.div_2 h2::after {
    display: none;
  }
}
.main .section_one div.div_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .main .section_one div.div_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main .section_one div.div_3 .desc_div {
  width: 33%;
  padding: 5px 5px 5px 0;
}
@media (max-width: 767px) {
  .main .section_one div.div_3 .desc_div {
    width: 70%;
  }
}
@media (max-width: 579px) {
  .main .section_one div.div_3 .desc_div {
    width: 100%;
  }
}
.main .section_one div.div_3 .desc_div p {
  font-size: 14px;
  font-family: "RobotoCondensed-Regular";
  color: #333;
  padding-bottom: 10px;
  line-height: 17px;
}
.main .section_one div.div_3 .desc_div a {
  width: auto;
  position: relative;
  border: 2px solid #5BC8AF;
  padding: 10px 70px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bolder;
  color: #5BC8AF;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 860px) {
  .main .section_one div.div_3 .desc_div a {
    padding: 10px 50px;
  }
}
@media (max-width: 450px) {
  .main .section_one div.div_3 .desc_div a {
    width: 100%;
  }
}
.main .section_one div.div_3 .desc_div a i {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main .section_one div.div_3 .desc_div a:hover {
  -webkit-box-shadow: 0px 7px 20px 0px rgba(90, 200, 174, 0.15);
  box-shadow: 0px 7px 20px 0px rgba(90, 200, 174, 0.15);
}
.main .section_one div.div_3 .desc_div a:active {
  border-color: #8fd5c5;
  color: #8fd5c5;
}
.main .section_one div.div_3 .desc_div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .section_two {
  position: relative;
  margin-top: 0;
  min-height: 170px;
}
.main .section_two .main_container_two_section {
  position: absolute;
  top: -60px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 800px;
  padding: 30px 20px;
  cursor: pointer;
}
@media (max-width: 880px) {
  .main .section_two .main_container_two_section {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .main .section_two .main_container_two_section {
    width: 600px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .main .section_two .main_container_two_section {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .main .section_two .main_container_two_section {
    position: static;
    margin-top: 0px;
    width: 350px;
  }
}
@media (max-width: 350px) {
  .main .section_two .main_container_two_section {
    width: 300px;
    padding: 10px 0;
  }
}
.main .section_two .main_container_two_section div.card_cont {
  margin: 0 80px;
}
.main .section_two .main_container_two_section .child_container_two_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.main .section_two .main_container_two_section .child_container_two_section .img_child_two_section {
  width: 170px;
  height: 170px;
  background-image: url("https://images.pexels.com/photos/4571943/pexels-photo-4571943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.main .section_two .main_container_two_section .child_container_two_section .img_child_two_section.two {
  background-image: url("https://images.pexels.com/photos/6720295/pexels-photo-6720295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.main .section_two .main_container_two_section .child_container_two_section .img_child_two_section.three {
  background-image: url("https://images.pexels.com/photos/1933873/pexels-photo-1933873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section {
  width: 450px;
  height: 170px;
  padding: 40px 25px 5px 25px;
  margin-left: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #194D44;
  color: #EAEAEA;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section h3 {
  position: relative;
  font-weight: bolder;
  margin-bottom: 10px;
}
.main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section h3 i {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 36px;
  color: #297C6B;
  -webkit-transform: rotateZ(5deg);
          transform: rotateZ(5deg);
}
.main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section p {
  line-height: 16px;
}
@media (max-width: 767px) {
  .main .section_two .main_container_two_section .child_container_two_section .img_child_two_section {
    width: 130px;
    height: 130px;
  }
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section {
    width: 300px;
    height: 130px;
    padding: 20px 10px 5px 10px;
  }
}
@media (max-width: 767px) and (max-width: 350px) {
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section {
    width: 270px;
  }
}
@media (max-width: 767px) {
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section h3 i {
    top: -10px;
    right: 10px;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section p {
    line-height: 14px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .main .section_two .main_container_two_section .child_container_two_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .main .section_two .main_container_two_section .child_container_two_section .img_child_two_section {
    position: absolute;
    top: 0;
    left: 50px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section {
    margin-top: 70px;
    padding: 70px 20px 20px 20px !important;
    border-radius: 5px;
    height: auto;
    margin-left: 0;
  }
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section h3 i {
    top: -50px;
    right: 20px;
    font-size: 44px;
  }
}
@media (max-width: 350px) {
  .main .section_two .main_container_two_section .child_container_two_section .desc_child_two_section h3 i {
    right: 10px;
    font-size: 34px;
  }
}
.main .section_three .container_three_section {
  width: 75%;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .main .section_three .container_three_section {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .main .section_three .container_three_section {
    padding-bottom: 0;
  }
}
.main .section_three div.div_2 {
  padding: 20px 0 5px 0;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main .section_three div.div_2 {
    text-align: left;
  }
}
.main .section_three div.div_2 h2 {
  position: relative;
  font-family: "SgtPeppersOutline";
}
.main .section_three div.div_2 h2 span {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
}
.main .section_three div.div_2 h2::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  right: 0;
  top: 17px;
  background-color: silver;
}
@media (max-width: 960px) {
  .main .section_three div.div_2 h2::after {
    width: 40%;
  }
}
@media (max-width: 820px) {
  .main .section_three div.div_2 h2::after {
    display: none;
  }
}
.main .section_three div.div_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .main .section_three div.div_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main .section_three div.div_3 .desc_div {
  width: 33%;
  padding: 5px 5px 5px 0;
}
@media (max-width: 767px) {
  .main .section_three div.div_3 .desc_div {
    width: 70%;
  }
}
@media (max-width: 579px) {
  .main .section_three div.div_3 .desc_div {
    width: 100%;
  }
}
.main .section_three div.div_3 .desc_div p {
  font-size: 14px;
  font-family: "RobotoCondensed-Regular";
  color: #333;
  padding-bottom: 10px;
  line-height: 17px;
}
.main .section_three div.div_3 .desc_div a {
  width: auto;
  position: relative;
  border: 2px solid #5BC8AF;
  padding: 10px 70px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bolder;
  color: #5BC8AF;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 860px) {
  .main .section_three div.div_3 .desc_div a {
    padding: 10px 50px;
  }
}
@media (max-width: 450px) {
  .main .section_three div.div_3 .desc_div a {
    width: 100%;
  }
}
.main .section_three div.div_3 .desc_div a i {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main .section_three div.div_3 .desc_div a:hover {
  -webkit-box-shadow: 0px 7px 20px 0px rgba(90, 200, 174, 0.15);
  box-shadow: 0px 7px 20px 0px rgba(90, 200, 174, 0.15);
}
.main .section_three div.div_3 .desc_div a:active {
  border-color: #8fd5c5;
  color: #8fd5c5;
}
.main .section_three div.div_3 .desc_div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .section_four {
  margin-top: 5px;
}
.main .section_four .main_container_for_section_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 100px;
}
@media (max-width: 767px) {
  .main .section_four .main_container_for_section_four {
    padding: 10px 30px;
  }
}
.main .section_four .main_container_for_section_four ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
}
@media (max-width: 550px) {
  .main .section_four .main_container_for_section_four ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
.main .section_four .main_container_for_section_four ul li {
  border: 2px solid #5BC8AF;
  border-radius: 3px;
  margin: 10px;
  width: 300px;
  padding: 20px;
}
@media (max-width: 550px) {
  .main .section_four .main_container_for_section_four ul li {
    width: 100%;
    margin: 5px;
  }
}
.main .section_four .main_container_for_section_four ul li a {
  position: relative;
  color: #333;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1100px) {
  .main .section_four .main_container_for_section_four ul li a {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .main .section_four .main_container_for_section_four ul li a {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .main .section_four .main_container_for_section_four ul li a {
    font-size: 16px;
  }
}
.main .section_four .main_container_for_section_four ul li a i {
  position: absolute;
  right: -20px;
  top: 3px;
  display: none;
  font-weight: normal;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.001ms ease 0s;
  transition: all 0.001ms ease 0s;
}
.main .section_four .main_container_for_section_four ul li a:hover {
  color: #5BC8AF;
}
.main .section_four .main_container_for_section_four ul li a:hover i {
  display: inline-block;
}
@media (max-width: 910px) {
  .main .section_four .main_container_for_section_four ul li a:hover i {
    display: none;
  }
}
.main .section_five {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .main .section_five {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main .section_five > * {
  width: 50%;
}
@media (max-width: 1000px) {
  .main .section_five > * {
    width: 100%;
  }
}
.main .section_five .two_block_back {
  position: absolute;
  width: 55%;
  height: 100%;
  background: rgba(25, 77, 68, 0.4);
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(62% 120% at 30% 50%);
          clip-path: ellipse(62% 120% at 30% 50%);
}
@media (max-width: 1000px) {
  .main .section_five .two_block_back {
    display: none;
  }
}
.main .section_five .left_block {
  position: relative;
  padding: 70px 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#297C6B), to(#194D44));
  background: linear-gradient(#297C6B, #194D44);
  -webkit-clip-path: ellipse(70% 120% at 30% 50%);
          clip-path: ellipse(70% 120% at 30% 50%);
}
@media (max-width: 1000px) {
  .main .section_five .left_block {
    -webkit-clip-path: ellipse(110% 90% at 50% 10%);
            clip-path: ellipse(110% 90% at 50% 10%);
  }
}
@media (max-width: 420px) {
  .main .section_five .left_block {
    -webkit-clip-path: ellipse(150% 90% at 50% 10%);
            clip-path: ellipse(150% 90% at 50% 10%);
  }
}
@media (max-width: 1440px) {
  .main .section_five .left_block {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .main .section_five .left_block {
    padding: 30px 30px;
  }
}
@media (max-width: 550px) {
  .main .section_five .left_block {
    padding: 20px 5px;
  }
}
.main .section_five .left_block h2 {
  font-size: 40px;
  font-weight: bold;
  color: #EAEAEA;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "SgtPeppersOutline";
  text-shadow: 1px 1px 1px #000;
}
@media (max-width: 1150px) {
  .main .section_five .left_block h2 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .main .section_five .left_block h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .main .section_five .left_block h2 {
    text-align: center;
    font-size: 44px;
  }
}
.main .section_five .left_block h2 span {
  font-family: sans-serif;
}
.main .section_five .left_block ul {
  margin: 0;
  padding: 0;
}
@media (max-width: 1000px) {
  .main .section_five .left_block ul {
    padding: 30px 100px 100px 100px;
  }
}
@media (max-width: 767px) {
  .main .section_five .left_block ul {
    padding: 30px 30px 100px 50px;
  }
}
.main .section_five .left_block ul li {
  color: #fff;
  margin: 20px 0;
}
.main .section_five .left_block ul li h4 {
  position: relative;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .main .section_five .left_block ul li h4 {
    font-size: 22px;
    margin: 10px 0;
  }
}
.main .section_five .left_block ul li h4 i {
  position: absolute;
  left: -25px;
  top: 5px;
  color: #5BC8AF;
  font-size: 14px;
  font-weight: lighter;
}
@media (max-width: 1000px) {
  .main .section_five .left_block ul li h4 i {
    font-size: 20px;
    left: -35px;
  }
}
.main .section_five .left_block ul li p {
  letter-spacing: 0.5px;
  line-height: 18px;
}
@media (max-width: 1000px) {
  .main .section_five .left_block ul li p {
    font-size: 18px;
  }
}
.main .section_five .left_block_two {
  position: relative;
  padding: 0;
  margin: 0;
}
.main .section_five .left_block_two .title {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 450px) {
  .main .section_five .left_block_two .title {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 10px;
    bottom: 10px;
  }
}
.main .section_five .left_block_two .title h3 {
  position: relative;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  color: #5BC8AF;
  text-shadow: 1px 1px 1px #000;
}
.main .section_five .left_block_two .title h3 span {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}
.main .section_five .left_block_two .title h3::after {
  content: "";
  position: absolute;
  left: -7px;
  top: -4px;
  width: 20px;
  height: 27px;
  border: 2px solid #297C6B;
  border-right: 0;
  border-radius: 100% 0 0 100%/80% 0 0 80%;
}
@media (max-width: 1000px) {
  .main .section_five .left_block_two {
    height: 450px;
  }
}
@media (max-width: 660px) {
  .main .section_five .left_block_two {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .main .section_five .left_block_two {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .main .section_five .left_block_two {
    height: 300px;
  }
}
@media (max-width: 430px) {
  .main .section_five .left_block_two {
    height: 230px;
  }
}
.main .section_five .left_block_two .fullscreen-bg__video {
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: -10;
}
@media (max-width: 1180px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@media (max-width: 1110px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.55);
            transform: scale(1.55);
  }
}
@media (max-width: 1000px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -90px;
  }
}
@media (max-width: 880px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    top: -65px;
  }
}
@media (max-width: 767px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    top: -65px;
  }
}
@media (max-width: 600px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    top: -65px;
  }
}
@media (max-width: 500px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    top: -65px;
  }
}
@media (max-width: 450px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    top: -50px;
  }
}
@media (max-width: 430px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (max-width: 380px) {
  .main .section_five .left_block_two .fullscreen-bg__video {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    top: -35px;
  }
}
.main .section_five .left_block_two .content {
  position: relative;
  margin-left: 40%;
  margin-top: 23%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #EAEAEA;
  background-color: rgba(91, 200, 175, 0.6);
  cursor: pointer;
}
@media (max-width: 1000px) {
  .main .section_five .left_block_two .content {
    margin-left: 43%;
    margin-top: -5%;
    z-index: 1000;
  }
}
@media (max-width: 600px) {
  .main .section_five .left_block_two .content {
    margin-left: 41%;
    margin-top: -8%;
  }
}
@media (max-width: 450px) {
  .main .section_five .left_block_two .content {
    margin-left: 38%;
    margin-top: -10%;
  }
}
@media (max-width: 450px) {
  .main .section_five .left_block_two .content {
    margin-left: 36%;
    margin-top: -13%;
  }
}
.main .section_five .left_block_two .content:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}
.main .section_five .left_block_two .content::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #EAEAEA;
  background-color: rgba(25, 77, 68, 0.4);
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.main .section_five .left_block_two .content #myBtn_1 i,
.main .section_five .left_block_two .content #myBtn i {
  position: absolute;
  top: 43%;
  left: 47%;
  -webkit-transform: scale(2) translateX(0%) translateY(0%);
          transform: scale(2) translateX(0%) translateY(0%);
  color: #fff;
}
.main .section_five .left_block_two .content #myBtn_1 i.fa-pause,
.main .section_five .left_block_two .content #myBtn i.fa-pause {
  left: 43%;
}
/* ----------------------------------------------------------------- */
/* Всплывающие подсказки */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 250px;
  left: 0;
  top: 0;
  background-color: #297C6B;
  color: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 0.5px;
  z-index: 10;
}
@media (max-width: 890px) {
  [data-tooltip]::after {
    width: 200px;
  }
}
@media (max-width: 767px) {
  [data-tooltip]::after {
    display: none;
  }
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 3em;
}
/* ----------------------------------------------------------------- */
/* slider */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
@media (max-width: 475px) {
  .slick-list {
    height: auto !important;
  }
}
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 9%;
  -webkit-transform: translateX(-9%);
          transform: translateX(-9%);
}
@media (max-width: 880px) {
  .slick-track {
    margin-left: 1.5%;
    -webkit-transform: translateX(-1.5%);
            transform: translateX(-1.5%);
  }
}
@media (max-width: 767px) {
  .slick-track {
    margin-left: 12%;
    -webkit-transform: translateX(-12%);
            transform: translateX(-12%);
  }
}
@media (max-width: 600px) {
  .slick-track {
    margin-left: 3.5%;
    -webkit-transform: translateX(-3.5%);
            transform: translateX(-3.5%);
  }
}
@media (max-width: 350px) {
  .slick-track {
    margin-left: 4%;
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
}
@supports (-webkit-touch-callout: none) {
   /* CSS specific to iOS devices */
  .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 18%;
    -webkit-transform: translateX(-18%);
            transform: translateX(-18%);
  }
}
.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -35px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .slider .slick-arrow {
    display: none !important;
  }
}

.slider .slick-arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: -33px 0 0 0;
}

.slider .slick-arrow.slick-prev {
  left: -10px;
  background: url("../img/left.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: -7px;
  background: url("../img/right.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
/* Точки для конкретного слайдера */
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #5bc8af;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: silver;
  border-radius: 50%;
}

.slider .slick-dots button:hover {
  background-color: silver;
}
/* ----------------------------------------------------------------- */
/* footer */
.footer {
  border: 0px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 10px;
  background-color: #EAEAEA;
}
@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .left_title {
  padding: 10px;
  width: 50%;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .left_title {
    padding: 5px;
    width: 100%;
  }
}
.footer .left_title p {
  margin: 0;
  cursor: pointer;
}
.footer .right_title {
  padding: 10px;
  width: 50%;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .right_title {
    padding: 5px;
    width: 100%;
  }
}
.footer .right_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.footer .right_title ul li a {
  position: relative;
  padding: 5px;
  color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .right_title ul li a:hover {
  color: #5BC8AF;
}
.footer .right_title ul li a::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 7px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: 50%;
}
.footer .right_title ul li:last-of-type a::after {
  display: none;
}
